*/config/development
*/config/testing
*/config/production
*/logs/log-*.php
!*/logs/index.html
*/cache/*
*/asset_cache/*
!*/asset_cache/index.html
!*/cache/index.html
!*/cache/.htaccess
/.htaccess
/edjGXBwo8DkE
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
site/logs/*
!site/logs/index.html
!site/logs/.htaccess
admin/logs/*
!admin/logs/index.html
!admin/logs/.htaccess
/vendor/

site/views/
!site/views/index.html
!site/views/errors
!site/views/account
!site/views/emails
.idea/

.well-known/acme-challenge/

.ftpquota
/images/*
!/images/noimage.png
!/images/noimage.jpg
!/images/noimage.svg
!/images/placeholder.png
!/images/placeholder.jpg
!/images/placeholder.svg
!/images/index.html
!/images/xs/index.html
!/images/md/index.html
!/images/lg/index.html
!/images/xl/index.html

composer.lock
